NEXT_PUBLIC_ADMIN_PORTAL_URL=https://admin.ricettazero.it
NEXT_PUBLIC_DELIVERY_PORTAL_URL=https://delivery.ricettazero.it
NEXT_PUBLIC_FARMACIA_PORTAL_URL=https://farmacia.ricettazero.it
NEXT_PUBLIC_LABORATORIO_PORTAL_URL=https://laboratorio.ricettazero.it
NEXT_PUBLIC_SPECIALISTA_PORTAL_URL=https://specialista.ricettazero.it
